*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --button-color: #596D48;
    --createAccountButton: #596D48;


    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #970d0d;
    --color-success: #4bb544;
    --border-radius: 4px;

}

h4 {
    padding: 0px 0px 10px 57px;
}

input {
    width: 200px;
    padding: 4px;
    border-radius: var(--border-radius);
    border: 1px solid gray;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
  }

button {
    border: none;
    background: var(--createAccountButton);
    padding: 5px 15px;
    color: #fff;
    outline: none;
    margin: 18px 0px 0px 50px;
    cursor: pointer;
    border-radius: 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button:hover {
    background: var(--color-primary-dark);
    color: #fff;
    
  }
  
  button:active {
    transform: scale(0.98);
  }

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.card__right {
    flex: 0.4;
    background-image: url(images/pexels-rajat-jain-325200.jpg);
    background-position-X: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}



.card__left {
    flex: 0.6;
    font-family: sans-serif;
    font-weight: 600;
    background-color: lightgray;
    height: 100vh;
    width: 100%;
    padding-top: 80px;
}

.card__left .card__header {
    padding: 0px 0px 30px 70px;
}

.card__left .card__header p {
    padding-bottom: 10px;
}

form {
    background: #fff;
    height: 245px;
    width: 100%;
    padding-top: 20px;
    -webkit-box-shadow: 0px 4px 6px -6px #222;
    -moz-box-shadow: 0px 4px 6px -6px #222;
    box-shadow: 0px 4px 6px -6px #222;
}

.newsletter__form {
    display: flex;
    justify-content: space-around;
    padding-right: 120px;
}

.newsletter__form__left {
    display: flex;
    flex-direction: column;
}

.newsletter__input {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}

.form__link {
    color: var(--createAccountButton);
    text-decoration: none;
    cursor: pointer;
  }
  
  .form__link:hover {
    text-decoration: underline;
  }

  .form__text {
    margin: 0px 0px 0px 50px;

  }

  .newsletter__input.success input {

    border-color: var(--color-success);
}

.newsletter__input.error input {

    border-color: var(--color-error);
}

.newsletter__input.medium input {
    border-color: orangered;
}

.newsletter__input small {

    position: absolute;
    left: 0;
    bottom: 5;
    visibility: hidden;
}

.newsletter__input.error small {

    color: var(--color-error);
    visibility: visible;
}

.newsletter__input.medium small {

    color: orange;
    visibility: visible;
}